<header>
  <nav class="nvbar">
    <a class="" href="/students">
      <img
              class="logo_img"
              title="Chicago State University"
              src="https://csu.edu/img/csu_new_logo.svg"
              alt="Chicago State University"
              
      />
        
    </a>
   
  </nav>
 
</header>
