<div class="new-student">
<label>Enter Your Name</label>
<input type="text" name="name" value="<%= student.name %>"> 
<br>
<label>Enter Your Preferred Scheduling URL</label>
<input type="text" name="studentUrl" value="<%= student.url %>"> 
<br>
<label>Enter The Class You Tutor</label>
<input type="text" name="studentClass" value="<%= student.class %>"> 
</div>